{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}

    {% block content %}

    <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="{% static 'bipper_media_logo.png' %}" alt="logo" height="100%" width="250px" /></span>
                        <br><br>
                        <h5 class="font-medium m-b-20">Reset Your Password</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal m-t-20" action = '.' method= 'post'>
                                {% csrf_token %}
                                {{ form.non_field_errors }}

                                {% for field in form.visible_fields %}
                                {{ field.label_tag }}
                                <div class="input-group mb-3">
                                    {% render_field field class="form-control form-control-lg" %}
                                </div>
                                <small>{{ field.help_text}}</small>
                                <small style="color: red;">{{ field.errors }}</small>
                                {% endfor %}
                                <!-- {{form.as_p}} -->




                                <div class="form-group text-center">
                                    <div class="col-xs-12 p-b-20">
                                        <button class="btn btn-block btn-lg btn-info" type="submit">Send Email</button>
                                    </div>
                                </div>


                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================

    </script>
</body>

</html>
{% endblock %}