<!DOCTYPE html>
<html>
<body>
    <section>
        <div align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
                <tr>
                    <td align="center" bgcolor="#eff3f8">
                        <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                            <tr>
                                <td align="center"><h3><br></h3></td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#2563a4">
                                    <span>&nbsp;</span>
                                    <h3 style="color: #ffffff; font-size: 24px; margin: 2px 0px; font-family: auto;"> ideepeners </h3>
                                    <span>&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#ffffff">
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left">
                                                <div style="line-height: 2;">
                                                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #131414;
                                                    display: block; margin-block-start: 1.33em; margin-inline-start: 0px;
                                                    margin-inline-end: 0px; text-align: left;">
                                                        <br>
                                                         <b style="text-transform: capitalize"<!--{{ name }}--> Welcome to ideepeners</b>
                                                        <br><br>
                                                        Thank you for signing up with Ideepners
                                                        <br>
                                                        To confirm your email address, please click the below button
                                                        <br><br>
                                                        <a style="display:inline-block;color:#fff;text-decoration:none;text-transform:uppercase;font-weight:bold;background:#2563a4;border-color:#42a21c;padding:12px 26px 12px 26px;border-radius:8px" href="{{base_url}}/verify-account/{{confirmation_token}}" target="_blank" data-saferedirecturl="">
                                                        <span style="font-size:13px">
                                                            <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif;letter-spacing:0.1em">Verify Email</span>
                                                        </span>
                                                    </a>


                                                        <br><br>
                                                        Thanks & Regards,
                                                        <br>
                                                        Team Ideepeners
                                                        <br><br>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><h3><br></h3></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>






