<aside class="left-sidebar" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" >
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a href="home_dashboard.html" class="sidebar-link">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">Applications
                                </span>
                            </a>
                        </li>


                    </ul>
                    {% for i in ap %}
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a href="home_dashboard.html" class="sidebar-link">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">{{ i.Application_name }}
                                </span>
                            </a>
                        </li>
                     

                    </ul>
                    {% endfor %}
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        